## /boot/grub/grub.cfg

set default=0
set timeout=30

insmod part_gpt
insmod ext2
insmod efi_gop
insmod efi_uga
insmod gfxterm
insmod gfxmenu
insmod png
insmod jpeg
insmod all_video

loadfont "/boot/grub/fonts/dejavu_10.pf2"
loadfont "/boot/grub/fonts/dejavu_12.pf2"
loadfont "/boot/grub/fonts/dejavu_14.pf2"
loadfont "/boot/grub/fonts/dejavu_16.pf2"
loadfont "/boot/grub/fonts/dejavu_bold_14.pf2"

search --no-floppy --fs-uuid --set=root ROOT_DRIVE

set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm

set theme="/boot/grub/themes/zirconium/theme.txt"

menuentry --class lfs --class gnu-linux "GNU/Linux-CODENAME, Linux VERSION" {
    linux   /boot/vmlinuz-VERSION-zlfs root=PARTUUID=ROOTPART rw
}

menuentry --class efi --class recovery "Firmware Setup" {
  fwsetup
}
